@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

header {
  width: 100%;
  height: 50px;
  background-color: adjust-color(v.$white_color,  $alpha: -0.85);
  border-bottom: solid 1px v.$white_color;
  .nav {
    height: 50px;
    @include m.d-flex(start, center);

    &__title {
      height: 100%;
      width: 255px;
      border-right: solid 1px v.$white_color;
      @include m.d-flex(center, center);

      &-link {
        font-size: 25px;
        font-weight: 500;
        color: v.$white_color;

        span {
          font-weight: 700;
        }

        @extend %hover-black;
      }
    }

    &__links {
      flex-grow: 1;

      .list {
        @include m.d-flex(start, center, nowrap, row, min(100px, 5vw), 0);
        padding: 0 0 0 min(100px, 5vw);

        &__item {
          &-link {
            font-size: 22px;
            font-weight: 400;
            color: v.$white_color;

            @extend %hover-black;
          }
        }
      }
      @media (max-width: v.$media__lg){
        .list{
          @include m.d-flex(center, center, nowrap, row, min(100px, 5vw), 0);
          padding: 0 10px;
        }
      }
    }

    .covid {
      height: 100%;
      @include m.d-flex(center, center);
      padding: 0 30px;
      border-left: solid 1px v.$white_color;
      border-right: solid 1px v.$white_color;

      &__link {
        font-size: 16px;
        font-weight: 700;
        color: v.$white_color;

        @extend %hover-black;
      }
    }

    .globe {
      width: 90px;
      @include m.d-flex(center, center);

      &__link{
        &-icon {
          width: 27px;
          height: 28px;
          @extend %hover-black-icon;
        }
      }
    }
  }
}