@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';

.hero {
  position: relative;
  max-width: 1260px;
  height: 830px;
  margin: 0 auto;
  padding: 140px 10px 0;
  background: url('../assets/img/cloud_alpha.png') center/contain no-repeat;

  &__contein{
    position: relative;
    width: 900px;
    margin: 0 auto;
    
    .hero__title {
      @include m.font(120px, 700, v.$black_color);
      line-height: 1;
    }
    .hero__action-btn {
      @include m.font(28px, 500, v.$white_color);
      width: 379px;
      height: 80px;
      background-color: v.$black_color;
      border-radius: 90px;
      border: none;
      cursor: pointer;
      position: absolute;
      bottom: 15px;

      &:hover {
        background-color: adjust-color(v.$black_color,  $alpha: -0.35);
      }

      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: 2px solid v.$white_color;
      }
    }
    @media (max-width: v.$media__lg){
      width: 100%;
      max-width: 700px;
      height: 500px;
      .hero__title {
        @include m.font(100px, 700, v.$black_color);
      }
      .hero__action-btn {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    @media (max-width: v.$media__md){
      max-width: 560px;
      height: 400px;
      .hero__title {
        @include m.font(75px, 700, v.$black_color);
      }
      .hero__action-btn {
        width: 260px;
        height: 60px;
        @include m.font(18px, 400, v.$white_color)
      }
    }
    @media (max-width: v.$media__sm){
      max-width: 350px;
      height: 280px;
      .hero__title {
        @include m.font(45px, 500, v.$black_color);
      }
      .hero__action-btn {
        width: 260px;
        height: 60px;
        @include m.font(18px, 400, v.$white_color)
      }
    }
  }
  &__notify {
    position: relative;
    margin: 170px auto 0;
    width: 680px;
    height: 68px;
    background-color: adjust-color(v.$white_color,  $alpha: -0.85);
    border-radius: 20px;
    @include m.d-flex(end, center, nowrap, row, 20px);

    &-img {
      width: 126px;
      height: 198px;
      position: absolute;
      top: -75px;
      left: -28px;
    }

    &-content {
      width: 450px;
      height: 100%;
      @include m.font(14px, 400, v.$black_color);
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      align-content: center;
      line-height: 1;
      text-transform: uppercase;
    }
    &-btn {
      background: none;
      border: none;
      @include m.font(25px, 400, v.$black_color);
      text-transform: uppercase;
      @extend %hover-light;
      padding-right: 8px;
      line-height: 14px;
    }
    @media (max-width: v.$media__md){
      width: 100%;
      max-width: 450px;
      height: fit-content;
      @include m.d-flex(start, center, nowrap, column, 0, 0);
      margin: 130px auto 0;

      &-content {
        width: 100%;
        padding: 15px 10px 5px 90px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-right: none;
        @include m.font(12px, 400, v.$black_color);
        line-height: 1.3;
      }

      &-btn {
        @include m.font(30px, 400, v.$black_color);
        padding: 20px 0;
      }
    }

    @media (max-width: v.$media__sm){
      max-width: 340px;


      &-img {
        width: 126px;
        height: 198px;
        top: -45px;
        left: -10px;
      }
      &-content {
        width: 100%;
        padding: 10px 10px 10px 115px;
        @include m.font(10px, 400, v.$black_color);
      }

      &-btn {
        @include m.font(30px, 400, v.$black_color);
        padding: 20px 0;
      }
    }
  }
  &__scroll {
    position: absolute;
    left: 10px;
    bottom: 170px;

    &-content {
      position: relative;
      @include m.font(16px, 500, v.$white_color);
      writing-mode: vertical-lr;

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 75px;
        background-color: v.$white_color;
        position: absolute;
        top: 100px;
        left: 7px;
      }
    }
    @media (max-width: v.$media__lg){
      bottom: 120px;
    }
  }
  @media (max-width: v.$media__md){
    padding: 110px 15px 0;
    background: url('../assets/img/cloud_alpha.png') 0 25%/contain no-repeat;
  }
  @media (max-width: v.$media__sm){
    height: 700px;
  }
}