@mixin d-flex($justify: center, $aline: center, $wrap: nowrap, $direction: row, $colum-gap: 0, $row-gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $aline;
  flex-wrap: $wrap;
  flex-direction: $direction;
  column-gap: $colum-gap;
  row-gap: $row-gap;
}